BODY ADDRESS {
	line-height: 1.3;
	margin: .6em 0;
}

BODY BLOCKQUOTE {
	margin-top: .75em;
	line-height: 1.5;
	margin-bottom: .75em;
}

HTML BODY {
	margin-left:20px;
	margin-right:0px;
	line-height: 1.2;
	width: 750px;
	text-align: justify;
	font-size: 14px;
}

BODY DIV {
	margin: 0;
}

CODE {
	white-space: pre-wrap;
}

DL {
	margin: .8em 0;
	line-height: 1.2;
}

BODY FORM {
	margin: .6em 0;
}

H1, H2, H4, H5, H6 {
	color: #005599;
}

H1{
    border-bottom: 1px solid black;
}

BODY H1, BODY H2, BODY H3, BODY H4, BODY H5, BODY H6 {
	line-height: 1.3;
	margin-left: 0;
}

BODY H1{
	margin: .8em 0 0 -20px;
}

BODY H2 {
	margin: .8em 0 0 -10px;
}

BODY H3, BODY H4 {
	margin: .8em 0 0 -8px;
	font-size: 1em;
}

BODY H5 {
	margin: .8em 0 0 -6px;
}

BODY H6 {
	margin: .8em 0 0 -4px;
}

BODY HR {
	margin: .6em;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: #cecece;
}

OL {
	margin: 0 0 0 5%;
	line-height: 1.2;
}

BODY PRE {
  background-color: #eeeeee;
	margin: .75em 0;
	line-height: 1.0;
	font-family: monospace;
}

BODY TD, BODY TH {
	line-height: 1.2;
}

UL, BODY DIR, BODY MENU {
	margin: 0 0 0 5%;
	line-height: 1.2;
}

HTML {
	margin: 0; 
	padding: 0;
}

BLOCKQUOTE{
	color: #222;
	background: #eee;
	border: 1px solid #ccc;
	padding: 0.4em 0.4em;
	width: 85%;
}
