::-webkit-scrollbar { 
    display: none; 
}

pre {
  line-height: 1.0;
  font-family: monospace;
  border: 1px solid #fff;
}

pre, code{
  font: monospace;
  white-space: pre-wrap;
  overflow:auto;
  max-width: 100%;
}

img {
  max-width: 100%;
}
